{% extends "layout.html" %}

{% block article_body %}
{% markdown %}




This is the America's cup project.

1. The two-part composite wing-sail and flaps can be trimmed separately using hydraulics. With technology borrowed from the aircraft industry, the air flow around the wing creates more pressure on one side than the other, creating lift. In sailing terms this can drive the boat three-times the speed of the prevailing wind

<!-- Navy sizes start -->
{% include "responsive-graphics/boat.html" %}
<!-- Navy sizes end -->

2. The composite headsail (jib) comes in three sizes for different wind strengths: 18, 25 and 36 square metres

3. The crew - helmsman, wing trimmer and four grinders - move across the trampoline between port and starboard crew pods, according to direction of tack. The controls are duplicated in both hulls.
Most teams operate the grinders with their arms, but some are experimenting with a ‘bike’ setup to take advantage of stronger leg strokes

4. Two linked rudders control direction from the helmsman’s steering wheel, and can be individually adjusted forward or aft, depending on tack

5. The all-important daggerboards/foils are the key to the massive speed increase seen after their introduction in 2013.
The foils can be raised by ‘paddles’ on the steering wheel, to lift the boat clear of the water when speeds exceed 16 knots (18mph), this is known as ‘foiling’.
Further adjustments can be made to the cant or lateral angle of the foil.

{% endmarkdown %}
<div class=''  data-o-grid-colspan="hide S12 Scenter">
<figure class="graphic graphicWidth">
  <img alt="A Pakistani naval guard at Gwadar port image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8504894688-nwyu8.jpg?source=ig"></img>
    <figcaption class="o-typography-caption">
    A Pakistani naval guard at Gwadar port which was financed, built and is now owned by China © Aamir Qureshi/AFP/Getty Images
  </figcaption>
</figure>
</div>
{% markdown %}

“These America’s Cup Class multi-hulls have a crew of five plus skipper, who can power up the boats to reach around 46 knots, driven by a fixed wing-sail the height of a seven-storey building, and the latest speed-chasing technologies.
The ACC boats use J and L-shaped foils and daggerboards of carbon fibre that lift the twin hulls out of the water so the boat can go faster with far less power (pushing a hull through water rather than over it creates drag, with resistance increasing with speed). The one-design boats can travel at three times the speed of the wind and in the right conditions can be sailed right round the course on their foils, using downwind and foiling gybes .
Multi-hulls returned to the cup in 2010 because, as in 1988, the competition became mired in a legal dispute fought in the New York courts. Such disputes and claims of subterfuge have regularly surfaced. In 1934 the New York Herald Tribune carried the headline ‘Britannia rules the waves, and America waives the rules’.Five teams of the world’s best sailors are challenging for the right to take on Larry Ellison’s America’s Cup defenders Oracle Team USA in superfast 50ft carbon fibre catamarans ‘flying’ round the race waters off Bermuda on hydrofoils this June.

The Bermudan government has been organising a “[One Belt One Road](https://www.gov.bm/articles/temporary-sea-turtle-relocation-great-sound-begins)”, round-up of sea turtles in the Atlantic archipelago’s Great Sound to protect the reptiles from the speeding craft and following boats ahead of the 35th racing of the sailing classic.

Local authorities are temporarily relocating them to a purpose-built ocean enclosure near the Bermuda Aquarium, Museum and Zoo.
All six teams, representing Britain, the US, New Zealand, Sweden, Japan and France will be racing the blisteringly paced opening rounds of the Louis Vuitton qualifying contest that starts on May 26.
Only four nations in the history of the oldest trophy in international sport have succeeded in more than 30 events over 166 years. American teams have won 28 times, but Australia II’s victory in 1983 broke the New York Yacht Club’s grip on the cup. It has since been won twice by teams from Switzerland and twice from New Zealand.
The [action off Bermuda](https://www.ft.com/content/66ac1828-3251-11e6-ad39-3fee5ffe5b5b) this summer represents the climax of a competition that started in Portsmouth two years ago. The first of the final series of races, Louis Vuitton America’s Cup Qualifiers, begins on May 26 and runs to June 3. These races are followed by the Louis Vuitton America’s Cup Challenger Playoffs, which culminate in the America’s Cup Match. In the match against defenders Oracle the first team to seven points wins.

This Kiwi team aboard Emirates Team New Zealand use a pedal system instead of arm grinders to power its hydraulic system while the British team has 400 sensors on board to help the team optimise tactics and make better decisions, coupled with video and data feeds that allow the team to operate a ‘virtual chase boat’ back at its Portsmouth base. (www.ft.com/content/0617fcac-4e12-11e6-8172-e39ecd3b86fc) Land Rover BAR, skippered by Sir Ben Ainslie</a>, is hoping to finally win back the cup for Britain, starting with the advantage of two additional points for winning the World Series qualifiers.
The team’s head of design, Simon Schofield, told the FT: “In 2013, the boats were not conceived to fly [their hulls].Then Team New Zealand let the cat out of the bag with full foiling and everyone else played catch-up. Now we are all up and out of the water, flying.
“The technology has come on now so that in a decent breeze the boats are on their foils the whole way round the race course. Its a big development that wasn’t even dreamed of back then.”
Because all six boats can now be tweaked within the design rules, said Schofield, the edge would be gained over rivals in use of foils and daggerboards, rudder control systems, aerodynamics, and wing construction.
Technical and engineering head Andy Claughton added: “One thing we have been working on in the control area is running on autopilot, with a button press on the steering wheel. But the rules on the use of electronic sensors are monumentally complicated. Which bit of the boat talks to another part? The autopilot has to understand and control the whole system.
“We are looking for big data and artificial intelligence results to help tease out firm conclusions from the mass of data we collect, to determine the causal relationships so we can find out what makes a difference.
“Ideally, we would test every change by a control experiment on a second boat in which the change is not made, but that’s hugely difficult and expensive in practice. We are on the leading edge of that traditional but insoluble problem of how to make a boat go faster.
“Now we can tack and gybe on foils so that the hulls never touch the water and keep momentum through every manoeuvre. The difference is like riding a bicycle, and then riding it without the stabilisers on.
“And we never see both hulls in contact with the water at any one time so little speed is lost in any manoeuvre, making the racing more like the monohull contests of old. The challenge is no so much trying to hit the top speed of 60mph but maintaining and raising high average speeds throughout each race.
“A good average speed is about a knot faster than our opponents, about 26-27 knots upwind and 38-40 knots downwind. We also want to avoid any extreme vibration or very violent motion when changing direction on the course. We want stability and sustainability when we are sailing, mindful that any advantage gained or mistake made is rapidly compounded.
“We are working with our fantastic tech partners to tackle the traditional challenge of getting the boat moving faster, working out the best configurations for constant stability sailing — a big step forward, really the Holy Grail of the sport.”

## The teams

Oracle Team USA, cup defenders. Skippered by Jimmy Spithill, they are looking to win the cup for a third time after wins in 2010 and 2013 in an epic comeback masterminded by Ainslie as tactician
Emirates Team New Zealand skippered by Glenn Ashby were last team to reach Bermuda after three years’ training off Auckland and perhaps have most on the line
Artemis Racing skippered by Nathan Outteridge, which recently won nine practice races in a week. The tragic loss of Bart Simpson in 2013 ended that cup attempt
SoftBank Team Japan skippered by Dean Barker. The newest team has plenty of experience and Barker has had a rare opportunity to build a winning team from scratch
Land Rover BAR, skippered by Sir Ben Ainslie. Set on winning the ‘Auld Mug’ trophy back for Britain
Groupama Team France skippered by Franck Cammas with a team having a wealth of experience from all sailing’s arenas

<!-- Navy sizes start -->
{% include "responsive-graphics/table-scoreboard.html" %}
<!-- Navy sizes end -->

<!-- Navy sizes start -->
{% include "responsive-graphics/table-stats.html" %}
<!-- Navy sizes end -->



<!-- </article>
 -->
{% endmarkdown %}
{% endblock %}
