{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<div class="o-grid-container">
<div class="o-grid-row">
<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL8">

{% markdown %}
Five teams of the world’s best sailors are challenging for the right to take on Larry Ellison’s America’s Cup defenders Oracle Team USA in 50ft catamarans ‘flying’ over waters off Bermuda on hydrofoils in a qualifying contest that starts on May 26.

All six teams will be racing boats that can reach around 46 knots (53 mph or 85km/h), powered by a fixed wing-sail the height of a seven-storey building.
{% endmarkdown %}

</div>
</div>
</div>

<!-- Navy sizes start -->
{% include "responsive-graphics/boat.html" %}
<!-- Navy sizes end -->

<div class="o-grid-container">
<div class="o-grid-row">
<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL8">

{% markdown %}

The boats lift their twin hulls out of the water using foils and daggerboards, bladelike J- or L-shaped carbon fibre boards which slot through hulls to stabilise the vessel in contact with the water.

Pushing a hull through water rather than over it creates drag, with resistance increasing with speed, so the foils skimming the surface allow the boat to move faster while using far less power. The boats can travel at three times the speed of the wind and in the right conditions can be sailed right around the course in 20-minute races entirely on their foils, manoeuvring through tacks and gybes without hulls making contact with the water.

“The difference is like riding a bicycle, and then riding it without the stabilisers on,” said Andy Claughton, head of technical and engineering at British team Land Rover BAR.

“We never see both hulls in contact with the water at any one time so little speed is lost in any manoeuvre, making the racing more like the monohull contests of old. The challenge is not so much trying to hit the top speed but maintaining and raising high average speeds throughout each race.”

In recent years, match sailing at this level has become [a high-tech enterprise](https://www.ft.com/content/aa3e7df0-de3b-11e2-9b47-00144feab7de) as teams with budgets of around £100m battle for engineering advantage by applying techniques developed in areas like aviation and [Formula One motor racing](https://www.ft.com/content/ecea90d4-e163-11e5-9217-6ae3733a2cd1).

The six boats are essentially identical, but can be tweaked within design rules so teams can gain advantages in their use of foils and daggerboards, rudder control systems, aerodynamics, and wing deployment.

{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}

Innovations this 45th regatta include Emirates Team New Zealand using a pedal cycling system instead of arm grinders to power its hydraulics while the British team has 400 sensors on board to help optimise tactics and decision-making, coupled with video and data feeds that allow the team to operate a ‘virtual chase boat’ at its Portsmouth base.

The [action off  Bermuda](https://www.ft.com/content/66ac1828-3251-11e6-ad39-3fee5ffe5b5b) this summer represents the climax of a competition that started in Portsmouth two years ago.

The Louis Vuitton America’s Cup Qualifiers run to June 3. These races are followed by the Challenger Playoffs, which determine the one  team which will meet defenders Oracle in the final match. In that duel, the first team to seven victories lifts the cup.

Land Rover BAR, [skippered by Sir Ben Ainslie](https://www.ft.com/content/0617fcac-4e12-11e6-8172-e39ecd3b86fc), is hoping to [win back the Cup for Britain](https://www.ft.com/content/ce53ec72-5af1-11e5-9846-de406ccb37f2) for the first time since the inaugural race of 1851.

Only four nations in the history of the oldest trophy in international sport have succeeded in winning in more than 30 events over 166 years. American teams have won 28 times, but Australia II’s victory in 1983 broke the New York Yacht Club’s grip on the cup. It has since been won twice by teams from Switzerland and twice by teams from New Zealand.

{% endmarkdown %}
<div class=''  data-o-grid-colspan="hide S12 Scenter">
<figure class="graphic graphicWidth">
  <img alt="A Pakistani naval guard at Gwadar port image" src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fft-ig-images-prod.s3-website-eu-west-1.amazonaws.com%2Fv1%2F8504894688-nwyu8.jpg?source=ig"></img>
    <figcaption class="o-typography-caption">
    Land Rover BAR’s £12m carbon-neutral headquarters in Portsmouth © Lynn Sammonds
  </figcaption>
</figure>
</div>
{% markdown %}

## The teams

* **Emirates Team New Zealand** skippered by Glenn Ashby were last team to reach Bermuda after three years’ training off Auckland and perhaps have most on the line
* **Artemis Racing** skippered by Nathan Outteridge, which recently won nine practice races in a week. The tragic loss of Bart Simpson in 2013 ended that cup attempt
* **SoftBank Team Japan** skippered by Dean Barker. The newest team has plenty of experience and Barker has had a rare opportunity to build a winning team from scratch
* **Land Rover BAR** skippered by Sir Ben Ainslie. Set on winning the ‘Auld Mug’ trophy back for Britain
* **Groupama Team France** skippered by Franck Cammas with a team having a wealth of experience from all sailing’s arenas
* **Oracle Team USA**, cup defenders. Skippered by Jimmy Spithill, they are looking to win the cup for a third time after wins in 2010 and 2013 in an epic comeback masterminded by Ainslie as tactician

<!-- Navy sizes start -->
{% include "responsive-graphics/table-scoreboard.html" %}
<!-- Navy sizes end -->

<!-- Navy sizes start -->
{% include "responsive-graphics/table-stats.html" %}
<!-- Navy sizes end -->

</div>
</div>
</div>


<!-- </article> -->
{% endmarkdown %}
{% endblock %}